<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorate="layout">
	<head>
		<meta charset="utf-8">
		<title>Categorie Page</title>
	</head>
	<body>
	<div layout:fragment="c1">
	
		<div class="container">
				<h1>Categorie Manage</h1>
				<div class="panel panel-primary panelT">
					<div class="panel-heading">Listes Categories</div>
						<div class="panel-body">
							<form th:action="@{/categorieManagement}" method="get">
								<label>Keyword :</label>
								<input type="text" name="motCle" th:value="${motCle}">
								<button type="submit" class="btn btn-primary">Chercher</button>
							</form>
						</div>
						<div class="panel-body">
							<table class="table">
							<tr>
								<th>#ID</th>
								<th>Name</th>
								<th>Operations</th>							
							</tr>
							<tr th:each="c:${listCats}">
								<td th:text="${c.id}"></td>
								<td th:text="${c.name}"></td>
								<td>
									<a onClick="return confirm('Etes vous sûre?')" th:href="@{/deleteCategorie(id=${c.id}, page=${currentPage}, motCle=${motCle} )}" class="btn btn-danger">Delete</a>
									<a th:href="@{/editCategorie(id=${c.id})}" class="btn btn-success">Edit</a>
								</td>
							</tr>
							</table>
							<ul class="nav nav-pills">
								<li th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
								<a th:href="@{/categorieManagement(page=${status.index}, motCle=${motCle} )}" th:text="${status.index}"></a>
								</li>
							</ul>	
						</div>
						
				</div>
				<a th:href="@{/formCategorie}" class="btn btn-primary">Ajouter Categorie</a>
			</div>
	</div>
		
		
		
	</body>
</html>	