<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorate="layout">
	<head>
		<meta charset="utf-8">
		<title>Dashboard Page</title>
	</head>
	<body>
	<div layout:fragment="c1">
		<div class="container home-stats text-center">
		          <h1>Dashboard</h1>
		          <div class="row">
		              <div class="col-md-3">
		                  <div class="stat st-ville">
		                    <div class="info">  
		                    Total Villes
		                    <span><a th:href="@{/villeManagement}">5</a></span>
		                  </div>
		                  </div>
		              </div> 
		              <div class="col-md-3">
		                  <div class="stat st-pending">
		                  <div class="info">  
		                  Total Places
		                  <span><a th:href="@{/placeManagement}">356</a></span>
		                  </div>
		              </div>
		             </div> 
		             <div class="col-md-3">
		                <div class="stat st-films">
		                <div class="info">
		                Total films
		                <span><a th:href="@{/filmManagement}">5</a></span>
		                </div>
		            </div>
		             </div>
		             <div class="col-md-3">
		              <div class="stat st-comments">
		                <div class="info">  
		                Total Projections
		              <span><a th:href="@{/projectionManagement}">163</a></span>
		              </div>
		             </div>
		              
		             </div> 
		
		          </div>
		          <div class="row rw2">
		              <div class="col-md-3">
		                  <div class="stat st-salle">
		                    <div class="info">  
		                    Total Salles
		                    <span><a th:href="@{/salleManagement}">126</a></span>
		                  </div>
		                  </div>
		              </div> 
		              <div class="col-md-3">
		                  <div class="stat st-ticket">
		                  <div class="info">  
		                  Total Tickets
		                  <span><a th:href="@{/ticketManagement}">1400</a></span>
		                  </div>
		              </div>
		             </div> 
		             <div class="col-md-3">
		                <div class="stat st-cat">
		                <div class="info">  
		                Total Categories
		                <span><a th:href="@{/categorieManagement}">4</a></span>
		                </div>
		            </div>
		             </div>
		             <div class="col-md-3">
		              <div class="stat st-cin">
		                <div class="info">  
		                Total Cinemas
		              <span><a th:href="@{/cinemaManagement}">16</a></span>
		              </div>
		             </div>
		              
		             </div> 
		
		          </div>
		        </div>
	</div>
		
		
		
	</body>
</html>	