<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Add Ville</title>
</head>
<body>
	<div layout:fragment="c1">
	<div class="container">
			<h1>Modifier Categorie</h1>
		<div class="panel panel-default">
			<div class="panel-heading">Categorie</div>
			<div class="panel-body">
				<form th:action="@{/saveCategorie}" method="post">
					<div class="form-group">
						<label class="control-label">ID:</label>
						<input class="form-control" type="text" name="id" th:value="${categorie.id}" readonly>
					</div>
					<div class="form-group">
						<label class="control-label">Name:</label>
						<input class="form-control" type="text" name="name" th:value="${categorie.name}">
						<span th:errors="${categorie.name}" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
		</div>
		
		</div>	
	</div>
</body>
</html>