<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorate="layout">
	<head>
		<meta charset="utf-8">
		<title>Place Page</title>
	</head>
	<body>
	<div layout:fragment="c1">
	
		<div class="container">
				<h1>Place Manage</h1>
				<div class="panel panel-primary panelT">
					<div class="panel-heading">Places</div>
						<div class="panel-body">
							<form th:action="@{/placeManagement}" method="get">
								<label>Keyword :</label>
								<input type="text" name="motCle" th:value="${motCle}">
								<button type="submit" class="btn btn-primary">Chercher</button>
							</form>
						</div>
						<div class="panel-body">
							<table class="table">
							<tr>
								<th>#ID</th>
								<th>Longitude</th>
								<th>Latitude</th>
								<th>Altitude</th>
								<th>Numero</th>
								<th>Salle</th>
								<th>Operations</th>							
							</tr>
							<tr th:each="p:${listPlaces}">
								<td th:text="${p.id}"></td>
								<td th:text="${p.longitude}"></td>
								<td th:text="${p.latidude}"></td>
								<td th:text="${p.altitude}"></td>
								<td th:text="${p.numero}"></td>
								<td th:text="${p.salle.name}"></td>								
								<td>
									<a onClick="return confirm('Etes vous sûre?')" th:href="@{/deletePlace(id=${p.id}, page=${currentPage}, motCle=${motCle} )}" class="btn btn-danger">Delete</a>
									<a th:href="@{/editPlace(id=${p.id})}" class="btn btn-success">Edit</a>
								</td>
							</tr>
							</table>
							<ul class="nav nav-pills">
								<li th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
								<a th:href="@{/placeManagement(page=${status.index}, motCle=${motCle} )}" th:text="${status.index}"></a>
								</li>
							</ul>	
						</div>
				</div>
				<a th:href="@{/formPlace}" class="btn btn-primary">Ajouter Place</a>
				
			</div>
	</div>
		
		
		
	</body>
</html>	